[submodule "samples/TuioPad"]
	path = samples/TuioPad
	url = https://github.com/mkalten/TuioPad.git
[submodule "FlightController/FlightController/ext/TUIO11_CPP"]
	path = FlightController/FlightController/ext/TUIO11_CPP
	url = https://github.com/mkalten/TUIO11_CPP.git
[submodule "FlightController/FlightController/ext/Starscream"]
	path = FlightController/FlightController/ext/Starscream
	url = https://github.com/daltoniam/Starscream.git
